.navbar{
    position: relative;
    width: 100vw;
    
}
.nav{
    padding:20px  20px  20px 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
   display: flex;
   justify-content: center;
    background-color: whitesmoke;
    width: 150px;
}

.logoImg{
    width: 100px;
    height:80px;
    
}
.navMenu{
    padding-right: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}
.navItem{
    list-style: none;
    
}
.navItem a{
    text-decoration: none;
    color: whitesmoke;

}

